body {
    background-color: rgb(64, 61, 77);
    font-family: Arial, sans-serif;
}

div.search-box {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 5%;
}

input[type="text"], select {
    padding: 10px;
    font-size: 16px;
    border: grey 2px solid;
    background-color: rgb(32, 31, 37);
    color: antiquewhite;
    outline: none;
    margin: 10px;
}

input[type="text"] {
    width: 86%;
}

select {
    width: 14%;
    cursor: pointer;
}

.search-btn {
    padding: 7.5px 15px;
    border: none;
    border-radius: 5px;
    background-color: rgb(37, 175, 37);
    color: white;
    cursor: pointer;
    margin-left: 10px;
}

.search-btn:hover {
    background-color: seagreen;
}

.search-btn:active {
    transform: scale(0.95);
}

a.drop-btn {
    text-decoration: none;
    font-size: 16px;
    color: antiquewhite;
}

.options {
    display: flex;
    justify-content: space-between;
}

.options a {
    background-color: rgb(32, 31, 37);
    padding: 3px 6px;
    padding-top: 6px;
}

.options a:hover {
    background-color: antiquewhite;
    cursor: pointer;
}